{% extends 'base.html.twig' %}

{% block title %}Income index{% endblock %}

{% block body %}
    <h1>Income index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>User Name</th>
                <th>Amount</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
         {% for income in incomes %}
            <tr>
                <td>{{ income.id }}</td>
                <td>{{ income.name }}</td>
                <td>{{ income.user }}</td>
                <td>{{ income.amount }}</td>
                <td>{{ income.status ? 'Yes' : 'No' }}</td>
                <td>{{ income.createdAt ? income.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ income.updatedAt ? income.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('income_show', {'id': income.id}) }}">show</a>
                    <a href="{{ path('income_edit', {'id': income.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('income_new') }}">Create new</a>
{% endblock %}
